.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 36px;
  margin: 0;
}

.App-header {
  color: white;
}
.continent {
  color: green;
  text-align: center;
}

.country-name {
  color: rgb(206, 41, 41);
  font-size: 42px;
  margin-bottom: 0px;
}
.list {
  color: rgb(216, 219, 38);
  list-style-type: none;
  font-size: 32px;
}

.button {
  height: 100px;
  width: 100px;
  background-color: rgba(54, 150, 83, 0.651);
  border-radius: 50%;
}

.input{
  background-color: rgba(100, 136, 236, 0.63);
  color: white;
  border-radius: 5px;
  padding: 10px 10px;
  border: none;
  font-size: 15px;
}

.example{
  color: white;
  font-size: 30px;
}